<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>FELTAX</title>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="../../watermark.png">

    <link rel="stylesheet" type="text/css" href="/styles/theme.css">
  </head>

  <body>
    
    <div class="navTav">
      <div class="navButton">Commands</div>
      <div class="navButton">Support</div>
      <div class="navButton">Log in</div>
    </div>

    <%- body %>

  </body>
</html>